:root {
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    font-family: 'League Spartan', sans-serif;
}

@media (min-width: 600px) {
    body {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -150% -170%, 180% 140%;
    }
}

.titleColor,
.purpleP {
    color: var(--VeryDarkMagenta)
}

.titlePColor {
    color: var(--DarkGrayishMagenta)
}

.Colordiv {
    background-color: var(--LightGrayishMagenta);
}

.CardColor {
    background-color: var(--VeryDarkMagenta);
}

.pColor {
    color: var(--SoftPink)
}
